.team
    .timeline-item
        div
        div
    .team-container
        .content
            span
                b David Lee
                |  shared 2 illustrations
            span 1h
        .images
            img(src="/img/left.png")
            img(src="/img/right.png")
