.team {
  display: flex;
  padding-bottom: 30px;

  .images {
    width: 100%;

    img {
      margin-right: 8px;
    }
  }

  .timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {

      &:first-child {
        width: 20px;
        padding-top: 100%;
        background-color: rgba(var(--sidebar-bg-color-rgb), .06);
        border-radius: 50%;
        position: relative;

        &::after {
          content: '';
          width: 6px;
          height: 6px;
          background-color: rgba(var(--sidebar-bg-color-rgb), .3);
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }

      &:last-child {
        border-radius: 1px;
        height: 100%;
        margin-top: 4px;
        margin-bottom: -30px;
        border-left: 2px solid var(--br-color);
      }
    }
  }

  .content {
    font-size: 12px;
    margin-bottom: 12px;
    display: flex;

    span {

      &:first-child {
        line-height: 20px;
        letter-spacing: .2px;
        color: var(--text-color);
        padding-right: 26px;
        padding-left: 12px;
      }

      &:last-child {
        font-size: 11px;
        line-height: 16px;
        color: var(--grey);
      }
    }
  }

  &:last-child {

    .timeline-item {

      div {

        &:last-child {
          display: none;
        }
      }
    }
  }
}
