.right-sidebar-container
    .right-sidebar
        .nav
            a.notification
                img(src="/img/bell.svg")
            .account
                img(src="/img/avatar.svg")
                span James
                img(src="/img/chevron-right.svg")
        .activities
            h3 Activities
            .divider

        .activity
            include ../../components/activity/activity
            include ../../components/activity/activity
            include ../../components/activity/activity
            include ../../components/activity/activity
        .card
            img(src="/img/close-icon.svg")
            h3 Refer a friend
            h4 And get awesome rewards
            img(src="/img/illustration.png")
