.left-sidebar-container
    .left-sidebar
        div
            img(src="/img/logo.svg")
            .nav
                ul
                    li
                        a.active Home
                    li
                        a Projects
                    li
                        a Tasks
                    li
                        a Files
                    li
                        a Teams
        .storage
            .content
                img(src="/img/cloud.svg")
                span Storage
                .progress
                    span 60%
            .line
