.main.container
    .search
        button
            img(src="/img/search-icon.svg")
        input(type="text" placeholder="Search...")
    .project-section
        header
            .content
                h1 Projects
                a View all
                    img(src="/img/chevron-right.svg")
            .project-line
        .content
            .project
                .img
                    img(src="/img/folder-icon.svg")
                    img(src="/img/team.svg")
                h2 Nucleus Tech
                span 16 tasks
                .line
                    span 70%
                    .progress
            .project
                .img
                    img(src="/img/folder-icon.svg")
                    img(src="/img/members.svg")
                h2 Summit A
                span 7 tasks
                .line
                    span 90%
                    .progress
            .add-project
                img(src="/img/plus-icon.svg")
                span Add new project
    .recent-section
        .nav
            .about
                h1 Recent
                a View all
                    img(src="/img/chevron-right.svg")
            .line
                div
        .files
            .file
                img(src="/img/folder-ic.svg")
                h2 Design Assets
                span Only you
                span 2.4 GB
            .file
                img(src="/img/contracts.svg")
                h2 Contracts
                span Only you
                span 318 MB
                img(src="/img/more.svg")
            .file
                img(src="/img/folder-icon.svg")
                h2 Team Photos
                span 5 members
                span 1.9 GB
            .file
                img(src="/img/music-icon.svg")
                h2 01-Beautiful_People.mp3
                span Only you
                span 5.6 MB
            .file
                img(src="/img/memo-icon.svg")
                h2 Memo_Nucleus_Meeting.mp3
                span 5 members
                span 14.9 MB
            .file
                img(src="/img/coffee-image.svg")
                h2 Coffee_Photo_Aug_2019.jpg
                span Only you
                span 1.3 MB
            .file
                img(src="/img/folder-ic.svg")
                h2 Design Assets
                span Only you
                span 2.4 GB
            .file
                img(src="/img/contracts.svg")
                h2 Contracts
                span Only you
                span 318 MB
                img(src="/img/more.svg")
            .file
                img(src="/img/folder-icon.svg")
                h2 Team Photos
                span 5 members
                span 1.9 GB
            .file
                img(src="/img/music-icon.svg")
                h2 01-Beautiful_People.mp3
                span Only you
                span 5.6 MB
            .file
                img(src="/img/memo-icon.svg")
                h2 Memo_Nucleus_Meeting.mp3
                span 5 members
                span 14.9 MB
            .file
                img(src="/img/coffee-image.svg")
                h2 Coffee_Photo_Aug_2019.jpg
                span Only you
                span 1.3 MB


